.career-form-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
}

.feature-container {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/happy-moment.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: rgba(255, 255, 255, 0.125);
  background-blend-mode: overlay;
}

.linked {
  display: block;
}

.feature-image {
  width: 60px;
  margin: 25px 0 0 25px;
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  filter: brightness(0) invert(1);
}

.feature-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-text {
  margin: 0 0 25px 25px;
}
.feature-text p {
  color: var(--pmk-white);
  font-size: 1.35rem;
  line-height: 1.3;
  font-weight: 500;
}

.action-form {
  padding: 2.8125rem 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 85%;
}

.form-title {
  color: var(--pmk-blue-dark);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-short-text {
  color: #1f2933c7;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 16px;
}

.user-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user-field:not(:last-child) {
  margin-bottom: 20px;
}

.user-field label {
  display: block;
  color: var(--pmk-dark);
  font-size: 0.95rem;
  font-weight: 700;
}
.user-field input {
  display: block;
  height: 30px;
  padding: 20px 12px;
  color: gray;
  font-size: 0.9rem;
  font-weight: 600;
}

.password-field {
  width: 100%;
  position: relative;
}
.password-field input {
  width: 100%;
}
#peak-password {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.group-user-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.terms label {
  color: dimgray;
  font-size: 0.9rem;
}

#terms-and-condition {
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  color: var(--pmk-green);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
#terms-and-condition:hover {
  color: var(--pmk-green-dark);
  text-decoration: underline;
}

.forget_password a {
  color: dimgray;
  font-size: 0.9rem;
  text-decoration: underline;
}

.form-btn {
  color: var(--pmk-white);
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--pmk-green);
  background: var(--pmk-green);
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;

  transition: all 0.5s ease;
}

.form-btn:hover {
  border: 1px solid var(--pmk-green-dark);
  background: var(--pmk-green-dark);
}

.action-notice {
  text-align: center;
  color: dimgray;
  font-size: 0.85rem;
  margin-top: 40px;
}

.action-notice a {
  color: var(--pmk-green);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
.action-notice a:hover {
  color: var(--pmk-green-dark);
  text-decoration: underline;
}
/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .career-form-container {
    height: auto;
    grid-template-columns: 1fr;
    gap: 30px;
    background-position: center top;
  }

  .feature-image {
    width: 50px;
  }

  .feature-text {
    margin: 100px 0 25px 25px;
  }
  .feature-text p {
    font-size: 1.25rem;
  }

  .form-container {
    width: 100%;
    max-width: unset;
  }

  #terms-and-condition {
    text-align: left;
  }

  .form-short-text {
    font-size: 0.775rem;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .career-form-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-text p {
    font-size: 1.25rem;
    list-style: 1.2;
  }

  .form-container {
    width: 100%;
    max-width: unset;
  }

  #terms-and-condition {
    text-align: left;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
