/* circular body  */
#pmk-circular-body {
  margin-top: 120px;
}

.circular-body-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow: hidden;
}

.circular-body-heading .hiring-heading {
  flex: 1;
}

/* smooth scrolling  */
.hiring-title,
.hiring-text,
.hiring-feature-image {
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease;
}
.section-visible .hiring-title,
.section-visible .hiring-text,
.section-visible .hiring-feature-image {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.hiring-title {
  color: var(--pmk-blue-dark);
  font-size: 2.8rem;
  font-weight: 700;
  transform: translateY(-20px);
}
.hiring-text {
  color: #6b7280;
  width: 75%;
  margin-top: 8px;
  transform: translateY(20px);
}

.hiring-feature-image {
  width: 300px;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  transform: translateX(150px);
}

.hiring-feature-image img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* job list  */
.jobs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 20px;
  padding: 16px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1.2s ease;
}

.section-visible.jobs {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: var(--pmk-white);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: all 0.35s ease;
}

.job-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  border-color: #dcdcdc;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.job-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}

.job-meta {
  display: flex;
  gap: 16px;
  font-size: 13px;
  color: #666;
}

.job-meta .job-meta-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.job-actions {
  display: flex;
  gap: 10px;
}

.stack-icon {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  cursor: pointer;

  color: var(--pmk-white);
  font-size: 14px;

  transition: 0.2s ease;
}

.stack-icon:hover {
  transform: translateY(-2px);
}

.view {
  background: #2ecc71;
}
.print {
  background: #27ae60;
}
.download {
  background: #1e8449;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .hero {
    padding: 30px 0;
  }

  .hero-text h1 {
    font-size: 2.125rem;
  }

  .circle-outer {
    width: 220px;
    height: 220px;
  }

  .circle-inner {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }

  .circle-inner h2 {
    font-size: 2rem;
  }

  .circle-inner p {
    font-size: 0.95rem;
  }

  #pmk-circular-body {
    margin-top: 80px;
  }

  .circular-body-heading {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hiring-title {
    color: var(--pmk-blue-dark);
    font-size: 2.125rem;
  }
  .hiring-text {
    width: 100%;
  }

  .hiring-feature-image {
    width: 100%;
  }

  .hiring-feature-image img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hiring-title {
    color: var(--pmk-blue-dark);
    font-size: 2.35rem;
  }

  .hiring-text {
    width: 85%;
  }

  .hiring-feature-image {
    width: 200px;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
