/* published page header  */
.publish-page-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 16px 32px;
  background-color: var(--pmk-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header content  */
.publish-header-content {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.pmk-logo-container {
  width: 48px;
  height: 48px;
  margin: 0;
}

.pmk-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.page-intro-text {
  color: #6b7a75;
  font-size: 0.825rem;
  font-weight: 500;
  line-height: normal;
}

.page-intro-title {
  color: var(--pmk-blue-dark);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

/* publish action button  */
.publish-action-buttons {
  display: flex;
  gap: 12px;
}

.publish-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 0.9rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all 0.35s ease-in-out;
}

.ppab-light {
  color: #6c757d;
  border-color: #6c757d;
  background-color: var(--pmk-white);
}
.ppab-light:hover {
  color: var(--pmk-white);
  border-color: #6c757d;
  background-color: #6c757d;
}

.ppab-green {
  color: var(--pmk-white);
  background-color: var(--pmk-green);
}

.ppab-green:hover {
  background-color: var(--pmk-green-dark);
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  /* published page header  */
  .publish-page-header {
    height: 120px;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    gap: 12px;
  }

  /* header content  */
  .pmk-logo-container {
    width: 40px;
    height: 40px;
  }

  .page-intro-text {
    font-size: 0.7rem;
  }

  .page-intro-title {
    font-size: 1.1rem;
  }

  /* publish action button  */
  .publish-action-button {
    flex: 1;
    width: 100%;
    gap: 4px;

    font-size: 0.875rem;
    padding: 6px 12px;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* header content  */
  .pmk-logo-container {
    width: 40px;
    height: 40px;
  }

  .page-intro-text {
    font-size: 0.75rem;
  }

  .page-intro-title {
    font-size: 1.15rem;
  }

  /* publish action button  */
  .publish-action-button {
    gap: 4px;

    font-size: 0.875rem;
    padding: 6px 12px;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
